{% extends "dashboard_base.html" %}

{% block title %}
    Applied Internships
{% endblock title %}

{% block main %}
    <div class="container">
        <div class="row my-2">
            <h2>Apply for Internship</h2>
        </div>
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                <div class="card h-100 m-1">
                    <div class="col">
                        <div class="card-body h-100">
                            <h4 class="card-title">{{ internship.title }}</h4>
                            <p class="card-text">
                                <strong>Salary: </strong>{{ internship.salary }}
                                <br>
                                <strong>Description: </strong>{{ internship.description }}
                            </p>
                            <hr>
                            Are you sure you want to apply to this internship? This cannot be undone.
                        </div>
                    </div>
                    <div class="col-2">
                        {% if internship.id in applied_ids %}
                            <p class="card-text pb-3 mx-3">
                                <button type="submit" class="btn btn-secondary btn-lg w-100" disabled>Apply</button>
                            </p>
                        {% else %}
                            <p class="card-text pb-3 mx-3">
                                <button type="submit" class="btn btn-success btn-lg w-100">Apply</button>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock main %}

